{% extends "main/base.html" %}
{% block title %}Add{% endblock title %}
{% block main_content %}
<section class="container">
    <div class="row justify-content-around text-center mt-5">
    <div class="col-sm-8">
    <h3>Students Information Table</h3>
</div>
</div>
<div class="row justify-content-around mt-3">
  <div class="col-sm-4">
<form action="" method="POST">
    {% csrf_token %}
    {{add.as_p}}
    <input type="submit" value="submit">
</form>
</div>
</div>
  </table>
</section>
{% endblock main_content %}