{% extends "main/base.html" %}
{% block title %}Home{% endblock title %}
{% block main_content %}
{% comment %} <a href="{%url 'login' %}" style="align-items: center; padding: auto; margin: 80;" class="btn btn-primary">Profeser login</a> {% endcomment %}
<section class="container">
    <div class="row justify-content-around text-center mt-5">
    <div class="col-sm-8">
    <h3>Students Information Table</h3>
</div>
</div>

<table class="table table-dark table-striped mt-5">
    <thead>
        <tr>
          <th scope="col">Sr No</th>
          <th scope="col">Profile pic</th>
          <th scope="col">Name</th>
          <th scope="col">Enrolment No</th>
          <th scope="col">Task</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for i in stu %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>
          {% if i.profile %}
          <img src="{{i.profile.url}}" alt="not found" width="80" style="border-radius: 50%;">
          {% endif %}
        </td>
          <td style="color: {{i.color}}; ">{{i.name}}</td>
          
          <td>{{i.enr}}</td>
          <td>{{i.task}}</td>
          {% if i.status %}
          <td style="color: green;">Completed</td>
          {% comment %} {% elif i.task = 'None' %}
          <td style="color: red;">Not assind</td> {% endcomment %}
          {% else %}
          <td style="color: red;">In-Progress</td>
          {% endif %}
          <td>
             <form action="{% url "delete" %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{i.id}}">
              <input type="submit" value="Delete">
            </form> 
            
            <a href="{% url "profedit" i.id %}" class="btn btn-info btn-sm">Edit</a>
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
  </table>
  <div class="row justify-center mt-1">
    
        <a href="{% url "Add" %}" class="btn btn-primary btn-sm" style="margin-bottom: 20;">Add</a>
    
</div>
</section>
{% endblock main_content %}